body{
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    color:#fff
}
#heading{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 170px;
      
}
#box{
    height:50px;
    width:170px;
    background-color: orange;
    margin-left:44% ;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
     padding:10px;
     text-align: center;

    
 
}